body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
background-color: rgb(255, 244, 244) !important;
    
}

header {
    background-color: #ead1d1;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    background-color: #ead1d1;

}

section {
    margin: 20px;
   
}

h2 {
    color: #0c020a;
    font-size: 20px;
    margin-bottom: 10px;
}
.social h2{
    background-color: #ead1d1;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
   
}



.social-icons {
    display: flex;
   justify-content: center;
  
}

.social-icons li {
    margin-right: 10px;
 
    
}

.social-icons a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    
   
}

.social-icons a:hover {
    color: #000;
}
.social{
    text-align: center;
    
   
}